 @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap'); 
 header{
    max-width: 640px;
    margin: 1rem auto;
    border-style: outset;
    padding: 10px;
    background-size: 200px 100px;
    background-color: #001aff77;
 }