@media only screen and (min-width: 38rem) {
  
  body{
    background-color: #e5eaf7;
  } 
  .logo{
    width: 200px;
    height: 125px;
  }
  header {
        grid-template-columns: auto auto auto;
    }
  header button{ display: none;}  
  header h1{
    text-align: center;
    color: #f1f5ff;
    line-height: 1.25em;
    padding: 0.5em 0.5em;
    font-size: 2em; 
} 
  nav{
    position: initial;
    display: block;
  }
  nav ul{
    display: flex;
    justify-content: flex-end;
  } 
  .home-title{
    font-weight: bolder;
    font-size: 70px;
    color: white;
 }
 
  .mbers{
    display: none;
  }
 .card{
  width: 100%;
  margin: auto;
  display: grid;
  color: white;
  grid-template-columns: 1fr 1fr 1fr;
    margin-top: 1rem;
    gap: 1rem;
    padding: 1rem;
    
 }
.card1{
  grid-row: 1 / span 2;
  background: linear-gradient(
    to top,
    rgb(166, 169, 170) 30%,
    rgb(166, 169, 170) 70%,
    #e5eaf7 70%,
    #e5eaf7 100%
    );
    margin-left: -.75rem;
box-shadow: 1px 5px 6px 7px #5b6057;
border-radius: 5px 5px 5px 5px;
}
.card2{
  grid-row: 1 / span 2;
  background: linear-gradient(
    to top,
    rgb(166, 169, 170) 30%,
    rgb(166, 169, 170) 70%,
    #e5eaf7 70%,
    #e5eaf7 100%
    );
box-shadow: 1px 5px 6px 7px #5b6057;
border-radius: 5px 5px 5px 5px;
}
.card3{
  grid-row: 1 / span 2;
  background: linear-gradient(
    to top,
    rgb(166, 169, 170) 30%,
    rgb(166, 169, 170) 70%,
    #e5eaf7 70%,
    #e5eaf7 100%
    );
    margin-right: 1rem;
box-shadow: 1px 5px 6px 7px #5b6057;
border-radius: 5px 5px 5px 5px;
}
section h2{
  color: #000000;
}
#background {
  height: 725px;
  margin-top: 20rem;
  margin-bottom: 10rem;
  background-color: #112e51;
  grid-column: 1/11;
  grid-row: 4/9;
  padding: auto;
}
.home-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
.creeks {
  width: 70%;
  box-shadow: 5px 5px 10px #000000;
  grid-column: 2/7;
  grid-row: 5/8;
}
.msg p {
  font-size: 1em;
  color: #f1f5ff;
}
.msg h2 {
  color: #f1f5ff;
  font-size: 1.25em;
}
.msg {
  background-color: steelblue;
  padding: 35px;
  grid-column: 6/10;
  grid-row: 6/7;
  box-shadow: 5px 5px 10px #6f7364;
}
.creeks,
.msg {
 margin-top: 10rem;
}
footer{
  display: grid;
  grid-template-columns: auto auto auto auto;
  background: linear-gradient(180deg, #031428 30%, #112e51 70%);
}
#info{
  text-align: left;
  color: white;
  margin-left: 1rem;
}
.footer-links{
  color: white;
}
.icons{

  border-radius: 50px 50px 50px 50px;
  box-shadow: 1px 1px 1px 1px #6f7364;
}
.social {
  display: flex;
  justify-content: flex-end;
  width: 100px;
  height: 45px;
  margin: 15px 15px 0 0;
  
}
footer div{
  position: initial;
  display: block;
  gap: 1rem;
  padding: 1rem;
  
}
} 