header{
    
    display: grid;
    grid-template-columns: auto 44px;   
    background-color: rgb(4, 72, 117);
   }   
header button{
            height: 44px;
            width: 44px;
            font-size: 2rem;
   }
button::before{
    content:"\2630"
}
button.open::before{
    content:"\2715"
}
nav{
    display: none;
    position: absolute;
    top: 60px;
    right:0px;
}
nav.open {
    display: block;
}
nav ul{
    margin: 0;
    padding: 0;
}
nav li{
    list-style: none;
}
nav a{
    display: block;
    padding: .75rem 2rem;
    color: azure;
    border: 1px ;
}



   header h1{
    text-align: center;
    margin-top: 70px;
    margin-left: 100px;
    color: aliceblue;
   }
main a{ 
    text-decoration: none;
}
section{
    border-radius: 15px 15px 15px 15px ;
}
h3{
    text-align: center;
    color: white;
    margin-top: -11px;
   }
   ul{
    line-height:150%;
    margin-top: 40px;
  }
.card{
    background: linear-gradient(
        to top,
        white 30%,
        white 70%,
        rgb(4, 72, 117) 70%,
        rgb(4, 72, 117) 100%
        );
        box-shadow: 1px 5px 6px 7px #5b6057;
    margin-right: 1rem;
    margin-top: 1rem;
    padding: 1rem;

}
h1{
    text-align: center;
    margin-top: 2px;
} 
h4{
    text-align: center;
    color: azure;
}
p{
    color: azure;
}

footer{
    display: grid;
    grid-template-columns: auto auto;   
    background-color: rgb(4, 72, 117);
    margin-top: 5rem;
  }