* {
    box-sizing: border-box;
  }
  
  body {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr auto;
    grid-template-rows: auto auto 1fr auto;
  }
 nav {
    background: black;
    padding: 2rem;
    grid-column: 1 / 3;
  }
 header {
    grid-column: 1 / 3;
    background-color: rgba(3, 45, 94, 0.952);
    padding: 1rem;
  }

  
  .navbar div{
    height: 8px;
    width: 60px;
    background-color: rgb(252, 252, 250);
    position: absolute;
     transition: all 0.5s ease;
  }
  
  .navbar .first{
    top: 25px;
    left: 20px;
  }
  
  .navbar .second{
    top: 45px;
    left: 20px;
  }
  
  .navbar .third{
    top: 65px;
    left: 20px;
  }
  
  