* {
    box-sizing: border-box;
  }
  
  body {
    font-size: 16px;
    line-height: 1.5;
    font-family: montserrat Alternates, sans-serif;
    margin: 0;
  }
 nav {
  display: flex;
  flex-direction: row-reverse;
  background: black;
  justify-content: right;
  align-items: center;
  gap: 3rem;
  padding: 1rem;
  }
 header{
  display: grid;
  background-color: rgb(4, 72, 117);
  padding:1rem;
 }
 h1{
  grid-column: 2 / 3;
  color: white;
  justify-items: center;
 }
 h2{
  text-align: justify;
  gap: 3rem;
  padding: 1rem;
 }
 h3{
  text-align: center;
  color: white;
  
 }
.card{
  width: 500px;
  height: 350px;
  box-sizing: border-box;
  background: linear-gradient(
    to top,
    white 30%,
    white 80%,
    rgb(4, 72, 117) 80%,
    rgb(4, 72, 117) 100%
);
  border-radius: 15px 15px 15px 15px ;
  
  box-shadow: 5px 5px 5px 5px #5b6057;
  gap: 3rem;
  padding: 1rem;
}
ul{
  line-height:180%;
}